/*** BASE STYLES ***/


* {
	box-sizing: border-box;
}

body {
	font-family: 'Hind', sans-serif;
	color: #2f2f30;
	padding: 40px 0 60px;
}

h1 {
	background-color: #2f2f30;
	color: #e3e5e8;
	text-align: center;
	text-transform: uppercase;
}