/*** BASE STYLES ***/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Hind', sans-serif;
	color: #2f2f30;
	margin: 0;
	padding: 0;	
}

/** STYLE FORM **/
header {
	background-color: #1a1a2d;
	color: #fcfcfc;
	text-align: center;
	text-transform: uppercase;	
}

h1 {
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 700;
	font-size: 1.8em;
	margin-top: 0;
}

h2,
legend {
	font-size: 1.4em;
	font-weight: 500;	
}

p {
	font-size: 1.2em;
	font-weight: 300;
	color: #bfbdbd;
}

.copyright {
	font-style: italic;
	text-align: center;
	font-size: 1em;
}

.form-header {
	text-align: center;
	margin: auto 20px;
}

label {
	display: block;	
}

input,
#state {
	height: 2em;
	background-color: #f2f4f7;
	border-radius: 5px;
	text-align: right;
	width: 100%;
	border: none;
	margin-bottom: 20px;
	margin-top: 10px;
	
}

/** STYLE CHECKBOXES **/
/** STYLE RADIOBUTTONS **/
/** MEDIA QUERY **/